article button {
  width: 50%;
  float: left;
  margin: 0 0 -1px -1px;
  height: 410px;
  font-size: 25px;
  fa-icon {
    margin-right: 10px;
    font-size: 35px;
  }
  strong {
    font-size: 35px;
  }
}
