<div class="modal-backdrop fade show"></div>
<div class="modal fade show d-block">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter your information to start a game</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="modalForm">
          <div class="form-group">
            <label for="name">Nickname:</label>
            <input class="form-control" id="name" type="text" formControlName="name" placeholder="Nickname" />
          </div>
          <div class="form-group">
            <label for="email">E-mail(Optional)</label>
            <input class="form-control" id="email" type="text" formControlName="email" placeholder="E-mail(Optional)" />
            <small id="emailHelp" class="form-text text-muted">Email will be used once - to send an invitation to pick up your price in case you will will. All collected data will be deleted at midnight. (to change)</small>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" formControlName="agreeToShowInLeaderBoard" id="agreeToShowInLeaderBoard" />
              <label class="custom-control-label" for="agreeToShowInLeaderBoard">
                I agree that my result will be shown in leaderboard screen
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" formControlName="agreeToGetInformation" id="agreeToGetInformation" />
              <label class="custom-control-label" for="agreeToGetInformation">
                I agree to get information via provided e-mail
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="startGame()" type="submit" class="btn btn-primary w-100" [disabled]="isDisabled()">
          Start game
        </button>
      </div>
    </div>
  </div>
</div>

<div id="start-drive-description" class="modal fade d-none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Congratulations</h4>
      </div>
      <div class="modal-body">You are ready to start to focus in race.<br />Your speed will be <span id="counted-speed">40</span>%.<br />Good luck!</div>
      <div class="modal-footer">
        <button id="again-button" type="button" class="btn btn-outline-danger w-100" (click)="startOver()">
          <div class="spinner d-none" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Start over <fa-icon [icon]="faFastBackward"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<article>
  <button routerLink="swagger" (click)="startTimer('swagger')" type="button" class="btn btn-lg btn-outline-primary"><fa-icon [icon]="faSlidersH"></fa-icon> Swagger. (Max. 100% speed)</button>
  <button routerLink="quiz" (click)="startTimer('quiz')" type="button" class="btn btn-lg btn-outline-primary"><fa-icon [icon]="faQuestion"></fa-icon> Quiz. (Max. 80% speed)</button>
  <button (click)="startTimer('gui')" routerLink="gui-drive" type="button" class="btn btn-lg btn-outline-primary"><fa-icon [icon]="faEye"></fa-icon> GUI. (Max. 60% speed)</button>
  <button (click)="startJustDrive()" type="button" class="btn btn-lg btn-outline-primary"><fa-icon [icon]="faFlagCheckered"></fa-icon> Just drive. (40% speed)</button>
</article>
