<div class="modal-backdrop fade d-none"></div>

<div id="diagnostic-problem-description" class="modal fade d-none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Problem found</h4>
      </div>
      <div class="modal-body">
        {{ diagnosticProblemDescription }}
      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="submit" class="btn btn-primary w-100">
          I understand
        </button>
      </div>
    </div>
  </div>
</div>

<div id="start-drive-description" class="modal fade d-none">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Congratulations!</h4>
      </div>
      <div class="modal-body">
        Get ready to focus. Race is about to begin.<br />Your speed will be <span id="counted-speed">{{ speed }}</span
        >%.<br />Good luck!
      </div>
      <div class="modal-footer">
        <button id="again-button" type="button" class="btn btn-outline-danger w-100" (click)="startOver()">
          <div class="spinner d-none" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          Start a new game <fa-icon [icon]="faFastBackward"></fa-icon>
        </button>
      </div>
    </div>
  </div>
</div>

<article class="mt-3 overflow-hidden" id="diagnostics" *ngIf="token" [ngClass]="{ 'with-test-results': testDriveDone }">
  <h3>Player name: {{ driveName }}</h3>
  <aside class="car-diagnostics">
    <h4><fa-icon [icon]="faCar"></fa-icon> Car diagnostics:</h4>
    <div>
      <ul class="list-unstyled">
        <li>
          <fa-icon class="incorrect" *ngIf="carDiagnosticsForm.controls['turbo_charger'].value === 0" [icon]="faTimesCircle"> </fa-icon>
          <fa-icon class="correct" *ngIf="carDiagnosticsForm.controls['turbo_charger'].value === 1" [icon]="faCheckCircle"> </fa-icon>
          <fa-icon class="question" *ngIf="carDiagnosticsForm.controls['turbo_charger'].value === ''" [icon]="faQuestionCircle"> </fa-icon>
          Turbo charger
          <button id="fix-turbo_charger" *ngIf="carDiagnosticsForm.controls['turbo_charger'].value === 0" type="button" (click)="fixCarDiagnostic('turbo_charger')" class="btn btn-outline-primary">
            <fa-icon [icon]="faTools"></fa-icon> Change
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div></button
          ><button
            id="diagnose-turbo_charger"
            *ngIf="carDiagnosticsForm.controls['turbo_charger'].value === ''"
            type="button"
            disabled="{{ diagnosticInProgress }}"
            (click)="diagnoseCar('turbo_charger')"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="faListAlt"></fa-icon> Diagnose
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </li>
        <li>
          <fa-icon class="incorrect" *ngIf="carDiagnosticsForm.controls['tires'].value === 0" [icon]="faTimesCircle"> </fa-icon>
          <fa-icon class="correct" *ngIf="carDiagnosticsForm.controls['tires'].value === 1" [icon]="faCheckCircle"> </fa-icon>
          <fa-icon class="question" *ngIf="carDiagnosticsForm.controls['tires'].value === ''" [icon]="faQuestionCircle"> </fa-icon>
          Tires
          <button id="fix-tires" *ngIf="carDiagnosticsForm.controls['tires'].value === 0" type="button" (click)="fixCarDiagnostic('tires')" class="btn btn-outline-primary">
            <fa-icon [icon]="faTools"></fa-icon> Inflate
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div></button
          ><button
            id="diagnose-tires"
            *ngIf="carDiagnosticsForm.controls['tires'].value === ''"
            type="button"
            disabled="{{ diagnosticInProgress }}"
            (click)="diagnoseCar('tires')"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="faListAlt"></fa-icon> Diagnose
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </li>
        <li>
          <fa-icon class="incorrect" *ngIf="carDiagnosticsForm.controls['battery'].value === 0" [icon]="faTimesCircle"> </fa-icon>
          <fa-icon class="correct" *ngIf="carDiagnosticsForm.controls['battery'].value === 1" [icon]="faCheckCircle"> </fa-icon>
          <fa-icon class="question" *ngIf="carDiagnosticsForm.controls['battery'].value === ''" [icon]="faQuestionCircle"> </fa-icon>
          Battery
          <button id="fix-battery" *ngIf="carDiagnosticsForm.controls['battery'].value === 0" type="button" (click)="fixCarDiagnostic('battery')" class="btn btn-outline-primary">
            <fa-icon [icon]="faTools"></fa-icon> Charge
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div></button
          ><button
            id="diagnose-battery"
            *ngIf="carDiagnosticsForm.controls['battery'].value === ''"
            type="button"
            disabled="{{ diagnosticInProgress }}"
            (click)="diagnoseCar('battery')"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="faListAlt"></fa-icon> Diagnose
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </li>
        <li>
          <fa-icon class="incorrect" *ngIf="carDiagnosticsForm.controls['fuel'].value === 0" [icon]="faTimesCircle"> </fa-icon>
          <fa-icon class="correct" *ngIf="carDiagnosticsForm.controls['fuel'].value === 1" [icon]="faCheckCircle"> </fa-icon>
          <fa-icon class="question" *ngIf="carDiagnosticsForm.controls['fuel'].value === ''" [icon]="faQuestionCircle"> </fa-icon>
          Fuel
          <button id="fix-fuel" *ngIf="carDiagnosticsForm.controls['fuel'].value === 0" type="button" (click)="fixCarDiagnostic('fuel')" class="btn btn-outline-primary">
            <fa-icon [icon]="faTools"></fa-icon> Refill
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div></button
          ><button
            id="diagnose-fuel"
            *ngIf="carDiagnosticsForm.controls['fuel'].value === ''"
            type="button"
            disabled="{{ diagnosticInProgress }}"
            (click)="diagnoseCar('fuel')"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="faListAlt"></fa-icon> Diagnose
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </aside>
  <aside class="road-diagnostics">
    <h4><fa-icon [icon]="faRoad"></fa-icon> Road diagnostics:</h4>
    <div>
      <ul class="list-unstyled">
        <li>
          <fa-icon class="incorrect" *ngIf="roadDiagnosticsForm.controls['barrier'].value === 1" [icon]="faTimesCircle"> </fa-icon>
          <fa-icon class="correct" *ngIf="roadDiagnosticsForm.controls['barrier'].value === 0" [icon]="faCheckCircle"> </fa-icon>
          <fa-icon class="question" *ngIf="roadDiagnosticsForm.controls['barrier'].value === ''" [icon]="faQuestionCircle"> </fa-icon>
          Barrier
          <button id="fix-barrier" *ngIf="roadDiagnosticsForm.controls['barrier'].value === 1" type="button" (click)="fixRoadDiagnostic('barrier')" class="btn btn-outline-primary">
            <fa-icon [icon]="faTools"></fa-icon> Remove
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div></button
          ><button
            id="diagnose-barrier"
            *ngIf="roadDiagnosticsForm.controls['barrier'].value === ''"
            type="button"
            disabled="{{ diagnosticInProgress }}"
            (click)="diagnoseRoad('barrier')"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="faListAlt"></fa-icon> Diagnose
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </li>
        <li>
          <fa-icon class="incorrect" *ngIf="roadDiagnosticsForm.controls['pithole'].value === 1" [icon]="faTimesCircle"> </fa-icon>
          <fa-icon class="correct" *ngIf="roadDiagnosticsForm.controls['pithole'].value === 0" [icon]="faCheckCircle"> </fa-icon>
          <fa-icon class="question" *ngIf="roadDiagnosticsForm.controls['pithole'].value === ''" [icon]="faQuestionCircle"> </fa-icon>
          Pothole
          <button id="fix-pithole" *ngIf="roadDiagnosticsForm.controls['pithole'].value === 1" type="button" (click)="fixRoadDiagnostic('pithole')" class="btn btn-outline-primary">
            <fa-icon [icon]="faTools"></fa-icon> Repair
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div></button
          ><button
            id="diagnose-pithole"
            *ngIf="roadDiagnosticsForm.controls['pithole'].value === ''"
            type="button"
            disabled="{{ diagnosticInProgress }}"
            (click)="diagnoseRoad('pithole')"
            class="btn btn-outline-primary"
          >
            <fa-icon [icon]="faListAlt"></fa-icon> Diagnose
            <div class="spinner" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </aside>
  <aside class="test-results">
    <h4><fa-icon [icon]="faPollH"></fa-icon> Test drive results:</h4>
    <ul class="list-unstyled">
      <li><fa-icon [icon]="faTachometerAlt"></fa-icon> Current status - {{ testDriveResult }}</li>
    </ul>
  </aside>
</article>

<article class="mt-3 overflow-hidden pull-left w-100" id="test-start-drive" *ngIf="token">
  <div class="btn-group w-100" role="group">
    <button id="again-button" type="button" class="btn btn-outline-danger w-33" (click)="startOver()">
      <div class="spinner d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      Start a new game <fa-icon [icon]="faFastBackward"></fa-icon>
    </button>
    <button id="start-button" type="button" class="btn btn-primary w-34" (click)="startDrive()">
      <div class="spinner d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      Start driving <fa-icon [icon]="faPlay"></fa-icon>
    </button>
    <button id="test-button" type="button" class="btn btn-outline-primary w-33" (click)="testDrive()">
      <div class="spinner d-none" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      Test drive <fa-icon [icon]="faFastForward"></fa-icon>
    </button>
  </div>
</article>
